.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #333;
  color: #fff;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.nav-box {
  flex: 1;
  border: 1px solid #fff;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.nav-logo {
  width: 20px;
  height: 20px;
}

.nav-text {
  display: block;
}

.short-text {
  display: none;
}

@media (max-width: 1400px) {
  .navbar {
    height: 80px;
  }
  
  .full-text {
    display: none;
  }
  
  .short-text {
    display: block;
  }
}

@media (max-width: 800px) {
  .navbar {
    height: 60px;
  }
}

