.stats-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 4px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  transition: background-color 0.2s;
}

.stats-button:hover {
  background-color: #555;
}

