.tic-tac-toe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  padding: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 600px;
  height: 600px;
  max-width: 90vw;
  max-height: 90vw;
}

.cell {
  width: 100%;
  height: 100%;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  position: relative;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(n+7) {
  border-bottom: none;
}

.board.player1-turn .cell:not(.filled) {
  background-color: rgb(255, 220, 220);
}

.board.player2-turn .cell:not(.filled) {
  background-color: rgb(220, 220, 255);
}

.cell.filled {
  cursor: default;
}

.board.animating .cell {
  animation: oscillate 0.5s infinite;
}

@keyframes oscillate {
  0%, 100% {
    background-color: #fff;
  }
  50% {
    background-color: #000;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.overlay-box {
  background-color: #fff;
  width: 200px;
  height: auto;
  min-height: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.overlay-text {
  font-size: 14pt;
  color: #000;
  text-align: center;
}

.overlay-moves {
  font-size: 12pt;
  color: #000;
  text-align: center;
}

.play-again-button {
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.play-again-button:hover {
  background-color: #555;
}

@media (max-width: 1400px) {
  .tic-tac-toe {
    min-height: calc(100vh - 80px);
  }
}

@media (max-width: 800px) {
  .tic-tac-toe {
    min-height: calc(100vh - 60px);
  }
}

