.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 100px;
}

.main-body {
  flex: 1;
  background-color: #000;
  color: #fff;
  width: 100%;
  min-height: calc(100vh - 100px);
  padding: 20px;
}

@media (max-width: 1400px) {
  .app-container {
    padding-bottom: 80px;
  }
  
  .main-body {
    min-height: calc(100vh - 80px);
  }
}

@media (max-width: 800px) {
  .app-container {
    padding-bottom: 60px;
  }
  
  .main-body {
    min-height: calc(100vh - 60px);
  }
}
