* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-body {
  flex: 1;
  background-color: #000;
  color: #fff;
  padding-bottom: 100px;
  min-height: calc(100vh - 100px);
}

@media (max-width: 1400px) {
  .main-body {
    padding-bottom: 80px;
    min-height: calc(100vh - 80px);
  }
}

@media (max-width: 800px) {
  .main-body {
    padding-bottom: 60px;
    min-height: calc(100vh - 60px);
  }
}
